<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a2009mysspsb1androidapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.2009MYSSPSB1androidapp">
        <activity android:name=".loginactivityapp"></activity>
        <activity android:name=".Registeractivityapp" />
        <activity android:name=".settingacticity" />
        <activity android:name=".Searchproductactivity" />
        <activity android:name=".AdminUserProductActivity"></activity>
        <activity android:name=".AdminNewOrdersActivity" />
        <activity android:name=".AdminCategoryActivity" />
        <activity android:name=".AdminAddNewProductActivity" />
        <activity android:name=".Prevalent.prevalent"></activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".ProductDetailsActivity" />
        <activity android:name=".ConfirmFinalOrderActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>